.nitro-coffee {
    background-color: #FFF0ED;
}

.nitro-coffee__content {
    vertical-align: 18.75rem;
    margin-top: 15%;
    display: inline-block;
}

.nitro-coffee__heading {
    padding: 1.25rem;
    margin-left: 15%;
}

.nitro-coffee-contents {
    width: 30rem; 
    margin-left: 15%;
    padding: 1.25rem;
    text-align: left;
}

.nitro-coffee-contents__text {
    margin-bottom: 2.5rem;
}

.nitro-coffee-contents__button {
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    color: #FFF;
    background-color: #5BACC3;
    text-decoration: none;
    text-align: center;
}

.nitro-coffee-contents__image {
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 5%;
}

.our-products {
    text-align: center;
    background-color: #F7F7F7;
    padding: 5rem;
}

.our-products__heading {
    text-align: center;
    margin: 1.25rem;
}

.our-products__card-item {
    display: inline-block;
    width: 21.25rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 1.25rem;
    margin: 2.5rem;
}

.our-products__images {
    margin: auto;
    min-height: 15rem;
    max-height: 34.375rem;
}

.our-products__price {
    font-size: 1.875rem;
    color: #5BACC3;
    margin-top: 1.875rem;
}

.our-products__button {
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    color: #FFF;
    background-color: #5BACC3;
    text-decoration: none;
    text-align: center;
}

.discount-section {
    background-color: #373737;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 18.75rem ;
    margin-bottom: 18.75rem;
    min-width: 12.5rem;
    max-width: 80%;
    padding: 2rem;
}

.discount-section__text {
    font-size: 2.813rem;
    font-weight: 400;
}

.footer-section {
    padding: 5rem;
}

.social-handles__images {
    min-width: 3.125rem;
    max-width: 7.5rem;
    
}

.address {
    display: inline-block;
    margin: auto;
    width: 33.33%;
}

.address__heading {
    padding-bottom: 1rem;
}

.hours {
    display: inline-block;
    margin: auto;
    width: 33.33%;
}
.hours__heading {
    padding-bottom: 1rem;
}

.social-handles {
    display: inline-block;
    margin: auto;
    width: 30%;
}

.social-handles__heading {
    padding-bottom: 1rem;
}

.social-handles__link {
    text-decoration: none;
}

