.menu-section {
    background-image: url("../assets/images/coffee-circle.jpg");
    display: flex;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 36rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
}

.menu-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    background-color: #393939;
    min-width: 17.5rem;
    max-width: 18.75rem;
    min-height: 11.25rem;
    max-height: 12.5rem;
}

.menu-nav__link-list {
    text-align: center;
    font-size: 1.313rem;
    list-style-type: none;
    background-color: #393939;
    min-width: 100%;
    max-width: 100%;

}

.menu-nav__link {
    color: #FFF;
    text-decoration: none;
}

.menu-nav__item {
    display: inline-block;
    border-left: 4px solid #5BACC3;
    padding-left: 1rem;
    margin: 1rem;
}

.menu-item {
    margin: 2rem;
    padding: 0.5rem;
}

.menu-item__text {
    text-align: center;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    min-width: 3.125rem;
    max-width: 30.7rem;
    margin-left: auto;
    margin-right: auto;
}

.menu-item__price {
    color: #5BACC3;
    text-align: center;
    margin-top: 1rem;
}

.menu__hot-drinks {
    background-color: #FFF0ED;
    padding: 2rem;
}

.menu__hot-drinks-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.menu__cold-drinks {
    background-color: #F7F7F7;
    padding: 2rem;
}

.menu__cold-drinks-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.menu__pastries {
    background-color: #FFF0ED;
    padding: 2rem;
}

.menu__pastries-heading {
    text-align: center;
    margin-bottom: 1rem;
}