.main-header {
    background-color:#FFF0ED;
}


.menu-section {
    background-image: url("../assets/images/coffee-circle.jpg");
    min-width: 100%;
    max-width: 100%;
    min-height: 36rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
    
}


.menu-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    background-color: #393939;
    min-width: 17.5rem;
    max-width: 18.75rem;
    min-height: 11.25rem;
    max-height: 12.5rem;
}

.menu-nav {
    text-align: center;
    font-size: 1.313rem;
    list-style-type: none;
    background-color: #393939;
    min-width: 100%;
    max-width: 100%;

}

.menu-nav a {
    color: #FFF;
    text-decoration: none;
}

.menu-nav-link {
    display: inline-block;
    border-left: 5px solid #5BACC3;
    padding-left: 1rem;
    margin: 1rem;
}

#shop-now {
    color: #5BACC3;
}

.menu-items {
    
}

.menu-text {
    text-align: center;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    min-width: 3.125rem;
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
}

.menu-price {
    color: #5BACC3;
    text-align: center;
}

.menu-card {
    margin: 2rem;
    padding: 0.5rem;
}

.hot-drinks {
    background-color: #FFF0ED;
    padding: 2rem;
}

.hot-drinks h2, h3 {
    text-align: center;
}

.cold-drinks {
    background-color: #F7F7F7;
    padding: 2rem;
}

.cold-drinks h2, h3 {
    text-align: center;
}

.pastries {
    background-color: #FFF0ED;
    padding: 2rem;
}

.pastries h2, h3 {
    text-align: center;
}