@use './partials/global';
@use './partials/colors';

@keyframes border-move {
    from {
        left: -5px;
        top: -5px;
    }
    to {
        left: 0px;
        top: 0px;
    }
}

@keyframes spin {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes banner {
    0% {
        background-color: colors.$graphite;
    }
    50% {
        background-color: colors.$nitro-blue;
    }
    100% {
        background-color: colors.$graphite;
    }
}

.nitro-coffee {
    display: flex;
    justify-content: space-between;
    background-color: colors.$nitro-pink;
    flex-wrap: wrap;
    padding: 5rem 15rem;
    &__heading {
        width: 25rem;
        padding: 1.25rem;
        margin-left: 15%;
    }
    &__contents {
        width: 25rem; 
        margin-left: 15%;
        padding: 1.25rem;
        &-text {
            margin-bottom: 2.5rem;
        }
        &-button {
            position: relative;
            padding: 0.625rem 1.875rem 0.625rem 1.875rem;
            color: colors.$white;
            background-color: colors.$nitro-blue;
            text-decoration: none;
            text-align: center;
            &::before {
                position: absolute;
                content: "";
                width: 9.2rem;
                height: 2.625rem;
                border: solid 2px colors.$graphite;
                left: -5px;
                top: -5px;  
                // Only works when refreshed
                // Can't nest an ':active' pseudo class inside a pseudo element
                animation: border-move 2s;
            }
        }
    }
}

.our-products {
    background-color: colors.$light-gray;
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__heading {
        margin: 1.25rem;
    }
    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    &__card-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: colors.$white;
        width: 21.25rem;
        border-radius: 10px;
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        margin: 2.5rem;
    }
    &__card-text {
        display: flex;
        justify-content: space-between;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color:colors.$nitro-pink;
    }
    &__card-texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15rem;
        margin: 3rem 0 3rem 1.25rem;
    }
    &__quantity {
        color: colors.$gray;
    }
    &__images {
        margin: auto;
        min-height: 15rem;
        max-height: 34.375rem;
    }
    &__price-container {
        display: flex;
        justify-content: center;
        width: 6.25rem;
    }
    &__price {
        font-size: 1.875rem;
        font-weight: 700;
        color: colors.$nitro-blue;
        margin-top: 1.875rem;
    }
    &__button {
        position: relative;
        padding: 0.625rem 1.875rem 0.625rem 1.875rem;
        color: colors.$white;
        background-color: colors.$nitro-blue;
        text-decoration: none;
        text-align: center;
        &::before {
            position: absolute;
            content: "";
            width: 8.125rem;
            height:2.625rem;
            border: solid 2px colors.$graphite;
            left: -5px;
            top: -5px;
            transition: border 0.25s ease;
            animation: border-move 1s;
        }
    }
}

.were-different {
    display: flex;
    flex-direction: column;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__contents {
        display: flex;
        flex-direction: column;
        max-width: 29.7rem;
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-right: 14rem;
    }
    &__heading {
        margin-bottom: 1rem;
    }
    &__text {
        margin-bottom: 2rem;
    }
    &__image-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    &__image {
        max-width: 10%;
    }
    &__button {
        position: relative;
        padding: 0.625rem 1.875rem 0.625rem 1.875rem;
        color: colors.$white;
        background-color: colors.$nitro-blue;
        text-decoration: none;
        text-align: center;
        width: 160px;
        &::before {
            position: absolute;
            content: "";
            width: 10rem;
            height: 2.625rem;
            border: solid 2px colors.$graphite;
            left: -5px;
            top: -5px;
            animation: border-move 1s;
        }
    }
    &__tilted-can-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 25rem;
        max-width: 31.25rem;
        min-height: 25rem;
        max-height: 25rem;
        &::before {
            position: absolute;
            z-index: 1;
            content: "";
            width: 100%;
            height: 100%;
            border: solid 5px colors.$nitro-blue;
            left: -15px;
            top: -15px;
        }
    }
    &__tilted-can-background {
        position: relative;
        z-index: 0;
        min-width: 25rem;
        max-width: 31.25rem;
        min-height: 25rem;
        max-height: 25rem;
    }
    &__tilted-can-image {
        position: absolute;
        z-index: 2;
        background-image: url('../assets/images/tiltedcan.png');
        background-repeat: no-repeat;
        width: 9.375rem;
        height: 18.75rem;
        &:hover {
            animation: spin 2s infinite linear;
        }
    }
}

.discount {
    background-color: colors.$graphite;
    color: colors.$white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    text-align: center;
    min-width: 12.5rem;
    max-width: 80%;
    padding: 2rem;
    animation: banner 2.5s infinite ;
    &__text {
        font-size: 2.813rem;
        font-weight: 400;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: colors.$nitro-pink;
    padding: 5rem;
}

.address {
    display: inline-block;
    margin: auto;
    width: 33.33%;
    &__heading {
        padding-bottom: 1rem;
        font-size: 2.063rem;
        font-weight: 300;
    }
}

.hours {
    display: inline-block;
    margin: auto;
    width: 33.33%;
    &__heading {
        padding-bottom: 1rem;
    }
}

.social-handles {
    display: inline-block;
    margin: auto;
    width: 30%;
    &__heading {
        padding-bottom: 1rem;
    }
    &__images {
        min-width: 3.125rem;
        max-width: 7.5rem;
    }
    &__link {
        text-decoration: none;

    }
}

