@use 'colors';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.063rem;
    font-weight: 300;
} 

p {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    cursor: pointer;
}

.main-page {
    padding: 0;
    display: inline;
}

.main-header * {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

.main-header {
    display: flex;
    background-color: colors.$nitro-pink;
}

.nav-heading {
    font-size: 2.063rem;
    font-weight: 300;
    vertical-align: 0.9rem;
}

.header-nav__link--active {
    color: colors.$nitro-blue;
}

.header__logo {
    padding: 1rem;
    min-width: 3.125rem;
    max-width: 7.5rem;
}

.header-nav {
    width: 87%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav__link-list {
    list-style-type: none;
}

.header-nav__item {
    display: inline-block;
    padding-left: 2rem;
}

.address__heading {
    font-size: 2.063rem;
    font-weight: 300;
}